@use '../abstracts/variables' as vars;

.first-block {
  height: 700px;
  background: vars.$color-bg-first-block;
  display: flex;
  flex-direction: column;
  padding-left: 399px;
  padding-top: 79px;
  box-sizing: border-box;

  .first-content {
    margin-top: 178px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 540px;
  }

  .title {
    font-size: 36px;
    margin: 0;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 400;
    color: vars.$color-text-subtitle;
    margin: 0;
  }
}

.second-block {
  height: 359px;
  background-color: vars.$color-bg-second-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;

  .about-me {
    font-size: 32px;
    margin: 0;
  }

  .about-text {
    max-width: 540px;
    font-weight: 400;
    color: vars.$color-text-subtitle;
    text-align: center;
    margin: 0;
  }
}

.third-block {
  height: 250px;
  background-color: vars.$color-bg-third-block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  .numbers {
    display: flex;
    gap: 49px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    img {
      width: 141px;
      height: 50px;
    }
  }
}

.fourth-block {
  height: 1004px;
  background-color: vars.$color-bg-fourth-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  .how-i-work {
    margin-top: 100px;
    font-size: 32px;
  }

  .how-i-work-text {
    max-width: 540px;
    margin-top: 40px;
    font-weight: 400;
    color: vars.$color-text-subtitle;
    text-align: center;
  }
}
