@use '../abstracts/variables' as vars;

.nav {
  display: flex;
  gap: 40px;
  margin: 0;
}

.first-block {
  a:not(.home) {
    font-size: 14px;
    text-decoration: none;
    color: vars.$color-text-primary;
  }

  .home {
    font-size: 14px;
    color: vars.$color-text-home;
    text-decoration: none;
  }
}

.first-content {
  margin-top: 178px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 540px;
}

.title {
  font-size: 36px;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: $color-text-subtitle2;
  margin: 0;
}
