@use '../abstracts/variables' as vars;

body {
  font-family: vars.$font-family;
  font-weight: vars.$font-weight-base;
  font-size: vars.$font-size-base;
  line-height: vars.$line-height-base;
  letter-spacing: vars.$letter-spacing-base;
  color: vars.$color-text-primary;
}
