$desktop: 1919px;
$laptop: 1200px;
$tablet: 768px;
$mobile: 375px;

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  }
  @else if $breakpoint == laptop {
    @media (max-width: $laptop) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
  @else if $breakpoint == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
}
