@use 'variables' as vars;

@mixin button-styles(
  $bg-color, 
  $hover-bg-color, 
  $width: 225px, 
  $height: 65px, 
  $font-size: 16px, 
  $letter-spacing: 0.1em
) {
  width: $width;
  height: $height;
  background-color: $bg-color;
  color: vars.$color-btn-text;
  border: none;
  cursor: pointer;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
    transform: scale(1.05);
  }
}

@mixin respond ($breakpoint) {
  @if $breakpoint == large {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: $laptop) and (min-width: 769px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == xsmall {
    @media (max-width: $mobile) {
      @content;
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  }
  @else if $breakpoint == laptop {
    @media (max-width: $laptop) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
  @else if $breakpoint == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
}
