@use '../abstracts/variables' as vars;

@mixin button-styles(
  $bg-color, 
  $hover-bg-color, 
  $width: 225px, 
  $height: 65px, 
  $font-size: 16px, 
  $letter-spacing: 0.1em
) {
  width: $width;
  height: $height;
  background-color: $bg-color;
  color: vars.$color-btn-text;
  border: none;
  cursor: pointer;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
    transform: scale(1.05);
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == large {
    @media screen and (max-width: vars.$desktop) {
      @content;
    }
  }
  @else if $breakpoint == medium {
    @media screen and (max-width: vars.$laptop) and (min-width: 769px) {
      @content;
    }
  }
  @else if $breakpoint == small {
    @media screen and (max-width: vars.$tablet) {
      @content;
    }
  }
  @else if $breakpoint == xsmall {
    @media screen and (max-width: vars.$mobile) {
      @content;
    }
  }
  @else {
    @warn "Unknown breakpoint `#{$breakpoint}`.";
  }
}
