$font-family: 'Roboto', sans-serif;
$font-weight-base: 500;
$font-size-base: 16px;
$line-height-base: 1.64;
$letter-spacing-base: 0.1em;

$color-bg-first-block: #eeeff1;
$color-bg-second-block: #f9f9f9;
$color-bg-third-block: #34547A;
$color-bg-fourth-block: #EEEFF1;
$color-bg-fifth-block: #34547A;

$color-text-primary: #000;
$color-text-subtitle: #727272;
$color-text-home: #34547A;
$color-btn-bg: #34547A;
$color-btn-bg-hover: #2a4060;
$color-btn-text: #fff;
$color-footer-text: #fff;

$max-content-width: 1920px;
$container-padding: 40px;

$desktop: 1919px;
$laptop: 1200px;
$tablet: 768px;
$mobile: 375px;
